<!-- to print --  <%=    %>
else     --  <%     %> -->

<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>

        <h1>Contact Added</h1>

        <h1>Playground</h1>

        <!-- loop -->
        <ul>
            <% for(let i=0;i<10;i++){ %>
            <li>
                <%= i%>
            </li>
            <% } %>
        </ul>

        <% if(true){ %>
            <h1> Its TRUE</h1>
        <% } else { %>    
            <p> Its FALSE</p>
        <% } %>    

    </body>
</html>